*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #121212;
}
.about{
  height: 100vh;
  width: 100%;

}
.photo1{
  height: 100vh;
  width: 100%;
 
}
.photo2{
  height: 100vh;
  width: 100%;
  
}
section{
  padding: 30px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

}
.photo3{
  height: 100vh;
  width: 100%;
  
}
img{
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
  
}
